*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #bbbbbb;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}

/*.contenedor{
    background-color: white;
    width: 50%;
    height: 600px;
    margin:auto;
    overflow: scroll;
    border: 3px solid #7e7e7e;
    padding: 30px;
}*/

.header{
    margin: 0px auto;
    width: 80%;
    height: 100px;
    max-height: 100px;
    display: flex;
    background: #f2f2f2;
    padding: 5px;
    border-bottom: 2px solid maroon;
    margin-bottom: 2px;
}

.contenedor{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
}

/*.contenedor div{
    padding: 15px;
}*/

.horarios{
    margin-top: 20px;
    width: 100%;
    border-style: solid;
    border-radius: 3px;
}

#btn_visualizar:hover,.btn_agregar,.btn_quitar{
    cursor: pointer;
}

.btn_agregar{
    background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    border:none;
    background-size: cover;
    background-image: url("img/plus.svg");
    height: 40px;
    width: 40px;
}
.btn_quitar{
    background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
	background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    
    border:none;
    background-size: cover;
    background-image: url("img/minus.svg");
    height: 40px;
    width: 40px;
}
.form_generar{
    text-align: center;
}

.btn_generar,.btn_guardar,.btn_eliminarH{
    text-align: center;
    
}
.tabla_horario, .notificaciones{
    text-align: center;
    
}

.tabla_horario table{
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    font-size: 10px;
}

.tabla_horario th{
    border: 2px solid white;
    text-align: center;
    padding: 7px;
}
.tabla_horario tr{
    border: 2px;
    text-align: center;
    height: 50px;
    
}
.tabla_horario tr:nth-child(odd) {
	
    background-color:#f2f2f2;
	
}
	
.tabla_horario tr:nth-child(even) {
	
    background-color:#fbfbfb;
	
}
	

.tabla_horario th{
    background-color: maroon;
    color: white;
}

.btn_generar:hover,.btn_guardar button:hover,
#btneliminarH:hover,#btn_inscribir:hover{
    cursor: pointer;
}
.btn_guardar button,.btn_eliminarH button,#btn_inscribir,#btneliminarH,.btn_generar{
    border-radius: 3px;
    padding: 5px;
}
.btn_inscribirH,.check_notificaciones{ 
    text-align:center;  
}

.acceso-rapido{
    border: 1px solid #7e7e7e;
    background-color: white;
    padding: 15px;
    font-size: 12px;
    text-align: justify;
    
}
.acceso-rapido a{
    color: maroon;
    margin-bottom: 15px;
}
.acceso-rapido a:hover{
    text-decoration: none;
}

.izquierda{
    border: 1px solid #7e7e7e;
    background-color: white;
    padding: 15px;
    font-size: 16px;
    width: 15%;
    
}
.centro{
    
    background-color: white;
    width: 75%;
    overflow: scroll;
    border: 2px solid #7e7e7e;
    padding: 30px;
    text-align: left;
}
.centro div{
    padding: 15px;
}

.boton_inscribir{
    text-align: center;
}

.header img{
    width: 120px;
    height: 90px;
}
.header h2{
    text-align: center;
    flex: 2;
    color: maroon;
}

.acceso-rapido ul{
    padding-left: 5px;
}

.acceso-rapido ul li{
    margin-bottom: 10px;
    list-style-image: url("img/arrows.svg");
}

.izquierda h4{
    margin-bottom: 5px;
}
.izquierda h5{
    margin-top: 5px;
    padding-left: 5px;
}